* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(92,87,179);
background: linear-gradient(90deg, rgba(92,87,179,1) 0%, rgba(134,53,156,1) 46%, rgba(121,9,111,1) 100%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", system-ui;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

header {
    display: flex;
    margin: 40px 40px;
    justify-content: space-around;
}

.image-container {
    max-width: 400px;
    max-height: 400px;
    position: relative;
}

.image-container span {
    position: absolute;
    font-size: 42px;
    color: rgb(156, 235, 71);
    top: 350px;
    left: 80px;
}

.about-me {
    background: white;
    max-width: 500px;
    margin: 40px 0;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.22) 4px 10px 10px;
}

.about-me h1 {
    margin-bottom: 15px;
}

.header-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    background-color: #9040ca;
    border: 10px outset #9040ca;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.content {
    max-width: 900px;
    position: relative;
}

h2 {
    position: relative;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 40px 40px;
}

.item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item-details {
    background-color: rgb(220, 216, 216);
    border-radius: 20px;
    padding: 10px;

}

.item-details > span {
    font-size: .8rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.item-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

a {
    color: black;
}

footer {
    margin-top: 20px;
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    

}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 60px;
}

footer > .image-container {
    max-width: 300px;
}

.footer-image {
    width: 100%;
    height: auto;
}

@media (max-width:1200px) {
    header {
        display: block;
        margin-top: 20px;
        
    }

    .image-container {
        width: 200px;
        height: auto;
        position: relative;
        float: left;
        right: 20px;
        margin: 10px;
    }

    .about-me {
        clear: none;
        padding: 50px 10px;
    }

    .image-container span {
    position: absolute;
    font-size: 42px;
    color: rgb(255, 255, 255);
    top: -15px;
    left: 220px;
    width: 300px;
}
    .content {
        margin: 60px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }


}

@media (max-width:600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        right: 0;
        margin-bottom: -50px;
    }

    .image-container span {
        width: 200px;
        top: 190px;
        left: 5px;
    }

    .about-me {
        background: none;
        box-shadow: none;
        font-size: 1.2rem;
    }

    h1 { 
        text-align: center;
    }

    .content {
        margin-top: -50px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h3 { 
        text-align: center;
    }

}
    